.mb-4.card
  = image_tag archive.cover_image, class: "card-img-top"
  .card-body
    %h5.card-title= link_to archive.title, archive

    %p.card-text
      %small= strip_tags(archive.body).truncate(150)
  .card-footer
    %small.text-muted
      %i.far.fa-clock
      = l archive.updated_at